<div class="row">
  <div class="col-sm-4">
    <a
      class="card text-center text-decoration-none grow"
      routerLink="orcamentos"
    >
      <div class="card-body">
        <h1 class="card-title">Orcamento</h1>
        <i class="bi bi-cash-coin" style="font-size: 6rem"></i>
      </div>
    </a>
  </div>
  <div class="col-sm-4">
    <a class="card text-center text-decoration-none grow" routerLink="produtos">
      <div class="card-body">
        <h1 class="card-title">Produtos</h1>
        <i class="bi bi-box-fill" style="font-size: 6rem"></i>
      </div>
    </a>
  </div>
  <div class="col-sm-4">
    <a
      class="card text-center text-decoration-none grow"
      routerLink="fornecedores"
    >
      <div class="card-body">
        <h1 class="card-title">Fornecedor</h1>
        <i class="bi bi-shop" style="font-size: 6rem"></i>
      </div>
    </a>
  </div>
</div>
