<ng-container *ngIf="listDefinition.items">
  <table class="table table-striped table-hover">
    <caption>
      {{
        listDefinition.listName
      }}
    </caption>

    <thead>
      <tr>
        <ng-container *ngFor="let d of listDefinition.columns">
          <th>
            <div class="d-flex align-items-center">
              <button
                *ngIf="d.hasSorting"
                class="btn"
                (click)="sort(d.mapFrom)"
              >
                <i class="bi bi-arrow-down-up"></i>
              </button>
              {{ d.name }}
            </div>
          </th>
        </ng-container>
        <th *ngIf="listDefinition.actions" class="col-2">Ações</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let item of listDefinition.items.items">
        <td *ngFor="let coluna of listDefinition.columns">
          {{ item[coluna.mapFrom] }}
        </td>
        <td>
          <button
            *ngFor="let acao of listDefinition.actions"
            [disabled]="acao.disabled"
            (click)="callMethod(acao, item)"
            [ngClass]="acao.style"
          >
            <i [ngClass]="acao.icon"></i>
            {{ acao.text }}
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-end">
    <select
      [(ngModel)]="size"
      (change)="fetch()"
      class="form-select me-2"
      style="width: 5rem; height: 2.5rem"
      aria-label="Tamanho da Lista"
    >
      <option *ngFor="let o of sizeOptions">
        {{ o }}
      </option>
    </select>

    <ngb-pagination
      [maxSize]="3"
      [(page)]="currentPage"
      [pageSize]="size"
      [collectionSize]="listDefinition.items.totalItems"
      (pageChange)="fetch()"
    >
    </ngb-pagination>
  </div>
</ng-container>
