<h2>Orçamento</h2>

<form [formGroup]="form">
  <div class="row mt-3">
    <div class="col-6">
      <div class="input-group mb-3">
        <span class="input-group-text" id="Nome">Nome do Orçamento</span>
        <input
          type="text"
          formControlName="nome"
          class="form-control"
          aria-label="Nome"
          aria-describedby="Nome"
        />
      </div>
    </div>
    <div class="col-6">
      <app-autocomplete
        [values]="fornecedores"
        [desativar]="desativado"
        [selecionado]="selecionado"
        [searchFields]="searchFields"
        placeholder="Fornecedor"
        (selected)="selecionarFornecedor($event)"
      >
      </app-autocomplete>
    </div>
  </div>
</form>

<div class="d-flex justify-content-end">
  <button (click)="salvar()" [disabled]="!canSave" class="btn btn-success">
    Salvar
  </button>
</div>

<hr />

<app-seletor-produtos
  *ngIf="produtosNoOrcamento"
  [form]="form"
  [desativado]="desativado"
  [produtosSelecionados]="produtosNoOrcamento"
></app-seletor-produtos>
