<div class="modal-header">
  <h4 class="modal-title">{{ modalDef.title }}</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.close()"
  ></button>
</div>
<div class="modal-body">
  {{ modalDef.message }}
</div>
<div *ngIf="modalDef.hasConfirmation" class="modal-footer">
  <button type="button" class="btn btn-outline-success" (click)="confirm()">
    Confirmar
  </button>
  <button type="button" class="btn btn-outline-danger" (click)="cancel()">
    Cancelar
  </button>
</div>
