.background {
  background-image: url("src/assets/bg.jpg");
  background-size:cover;
}

.background-card {
  background-image: url("src/assets/bg-card.jpg");
  background-size:cover;
  border-radius:50px 0px 0px 50px;
  height:100%;
}
