<div class="vh-100 background">
  <div class="container py-5 h-100">

    <div class="card" style="border-radius: 50px;">
      <div class="row">
        <div class="col-7">
          <div class="background-card">
          </div>
        </div>

        <div class="col-5">
          <div class="card-body">
            <h1>Orcamento</h1>
            <h4 class="text-secondary">Registrar</h4>
            <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Endereço de Email</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Senha</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn btn-primary me-2">Entrar</button>
            <a routerLink="/autenticacao/login" class="text-primary text-decoration-none">Já tenho uma conta.</a>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
