<!-- <app-dynamic-filter [nomeDoCampo]="'Nome'"></app-dynamic-filter> -->

<ng-container>
  <form [formGroup]="form">
    <table class="table table-striped table-hover">
      <caption>
        Produtos no Orçamento
      </caption>

      <thead>
        <tr>
          <th class="col-6">
            <div class="d-flex align-items-center">
              <button class="btn btn-sm">
                <i class="bi bi-arrow-down-up"></i>
              </button>
              Nome
            </div>
          </th>
          <th class="col-2">
            <div class="d-flex align-items-center">
              <button class="btn btn-sm">
                <i class="bi bi-arrow-down-up"></i>
              </button>
              Qtde
            </div>
          </th>
          <th class="col-2">
            <div class="d-flex align-items-center">
              <button class="btn btn-sm">
                <i class="bi bi-arrow-down-up"></i>
              </button>
              Preço
            </div>
          </th>
          <th class="col-2">Ações</th>
        </tr>
      </thead>

      <tbody formArrayName="produtosParaAdicionar">
        <tr
          *ngFor="let row of rows.controls; let i = index"
          [formGroupName]="i"
        >
          <td>
            <input
              type="text"
              class="form-control-plaintext"
              formControlName="nome"
            />
          </td>
          <td>
            <input
              type="number"
              min="0"
              class="form-control"
              formControlName="quantidade"
            />
          </td>
          <td>
            <input
              type="number"
              min="0"
              class="form-control"
              formControlName="precoUnitario"
            />
          </td>
          <td>
            <button
              (click)="removerProduto(i)"
              class="btn btn-outline-danger btn-sm"
            >
              <i class="bi bi-dash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </form>

  <!-- <div class="d-flex justify-content-end">
    <select
      [(ngModel)]="tamanho"
      (change)="buscar()"
      class="form-select me-2"
      style="width: 5rem; height: 2.5rem"
      aria-label="Tamanho da Lista"
    >
      <option *ngFor="let o of tamanhoOpcoes">
        {{ o }}
      </option>
    </select>

    <ngb-pagination
      [maxSize]="3"
      [(page)]="paginalAtual"
      [pageSize]="tamanho"
      [collectionSize]="opcoesTabela.itensResponse.quantidadeDeItens"
      (pageChange)="buscar()"
    >
    </ngb-pagination>
  </div> -->
</ng-container>
